<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviatrix Blog</title>
    <style>
        /* Set font family and size for the entire form */
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
        }

        /* Style the blog submission form container */
        div {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 20px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        /* Style the blog submission form header */
        h1 {
            font-size: 28px;
            margin-top: 0;
        }

        /* Style the form labels */
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        /* Style the form inputs */
        input[type="text"],
        input[type="website"],
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        /* Style the form button */
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

        /* Style the form button on hover */
        button[type="submit"]:hover {
            background-color: #0069d9;
        }
    </style>
</head>

<div>
    <h1>Aviatrix Blog Submission Form</h1>
    <form method="post" action="/api/blogs">
        <div class="blog-form">
            <label for="blog-title">Blog Title:</label>
            <input type="text" id="blog-title" name="title" required>
        </div>
        <div class="blog-form">
            <label for="blog-description">Blog Description:</label>
            <textarea id="blog-description" name="description" required></textarea>
        </div>
        <div class="blog-form">
            <label for="blog-body">Blog Body:</label>
            <textarea id="blog-body" name="body" required></textarea>
        </div>
        <div class="blog-form">
            <label for="user-instagram">Blog Instagram</label>
            <input id="user-instagram" name="instagram" required></textarea>
        </div>
        <div class="blog-form">
            <label for="blog-created">Created At:</label>
            <input id="blog-created" name="createdAt" required></input>
        </div>
        <div class="blog-form">
            <button class="btn btn-primary" type="submit">Submit Blog Post</button>
        </div>
    </form>
</div>